# ==============================
# Terraform
# ==============================
# Local .terraform directories
**/.terraform/*

# Ignore builds folder
builds

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore tfvars files, as they often contain secrets
*.tfvars
*.tfvars.json

# Ignore override files (local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore tfplan files (created by `terraform plan -out=tfplan`)
*.tfplan

# ==============================
# Node.js and npm
# ==============================
# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# ==============================
# Lambda Function 
# ==============================
# Ignore compiled and bundled files
dist/
build/
tmp/
coverage/
.idea/

# Ignore local ZIP files for Lambda deployments
lambda.zip
*.zip

# Ignore AWS SAM files
.aws-sam/

# AWS credentials (if accidentally created in the repo)
.aws/credentials
.aws/config

# Local editor/IDE configurations
.vscode/
*.swp
*.swo

# Ignore lock files for package managers
package-lock.json
yarn.lock

# Ignore local environment files (secrets and environment variables)
.env
.env.*
*.env

# ==============================
# AWS Configurations
# ==============================
# AWS credentials and configuration
credentials
config

# AWS SAM CLI and CloudFormation artifacts
.aws-sam/
*.template.yaml
*.template.yml

# AWS CloudFormation JSON and YAML files
*.stack.yml
*.stack.json
*.stack.yaml

# AWS deployment packages
*.zip

# AWS Lambda Test Event files
event.json

# ==============================
# Editor Configurations
# ==============================
# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# VS Code settings
.vscode/*
history/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim temporary files
*.swp
*.swo

# Emacs backup files
*~

# ==============================
# Miscellaneous
# ==============================
# MacOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# Local configuration files
*.local
*.local.*
