# ==============================
# AWS Provider Configuration
# ==============================
profile               = "linkuyconnect"
region                = "us-east-2"
environment           = "prod"
aws_access_key_id     = "YOUR_AWS_ACCESS_KEY_ID"
aws_secret_access_key = "YOUR_AWS_SECRET_ACCESS_KEY"

# ==============================
# RDS Configuration
# ==============================
db_instance_identifier  = "linkuyconnect-db"
rds_engine              = "postgres"
rds_engine_version      = "16.3"
rds_instance_class      = "db.t4g.micro"
db_allocated_storage    = 20
db_family               = "postgres16"
db_name                 = "linkuyconnect"
db_username             = "linkuyconnect"
db_password             =
db_encryption_enabled   = false

# ==============================
# Lambda Configuration
# ==============================
lambda_function_name = "data_processor"
lambda_handler       = "index.handler"
lambda_zip_path      = "./lambda"
lambda_runtime       = "nodejs22.x"

# ==============================
# SQS Configuration
# ==============================
sqs_queue_name                 = "linkuyconnect-activity"
sqs_message_retention_seconds  = 86400
sqs_visibility_timeout_seconds = 30

# ==============================
# EC2 Configuration
# ==============================
ec2_instance_type = "t2.micro"
ami_id            = "ami-088b41ffb0933423f"
key_name          = "linkuyconnect-key"

# ==============================
# API Gateway Configuration
# ==============================
api_gateway_name = "linkuyconnect-api"

# ==============================
# Others Configuration
# ==============================
allowed_ips = ["0.0.0.0/0"]
expo_token  = "xxxxx-xxxxxxxxxxxxxxx"